*
{
	margin: 0;
	padding: 0;
}

body
{
	/*background-color: #ECECEC;*/
}

#Wrapper
{
	padding-top: 50px;
	margin: auto 56px auto 636px;
	width: 30%;
}
#Header
{
    padding-top: 20px;
    text-align: center;
	font-size: 30px;
}
#loginContent
{
	padding-top: 60px;
}
    #loginContentLeft
    {
        float: left;
        width: 53%;
        height: 400px;
        border-right-style: solid;
    border-right-color: inherit;
    border-right-width: 1px;
}
    #loginContentRight
    {
        float: left;
        width: 46%;
        height: 400px;
    }

#mainContent
{
    padding-top: 60px;
    width: 467px;
}
    #mainContentUpload
    {
        float: left;
        width: 53%;
        height: 400px;
        border-right-style: solid;
    border-right-color: inherit;
    border-right-width: 1px;
    }
    #mainContentMyFiles
    {
        float: right;
        width: 39%;
        height: 400px;
    }

/* #####################
		DESIGN
##################### */

.loginTableTop
{
	border-bottom: 1px solid;
}
.loginTableText
{
	text-align: right;
}
.spacingFix
{
    height: 10px;
}
.loginFormButton
{
    height: 20px;
    width: 50px;
}

.leftEventLabelSuccess
{
    color: lightgreen;
    font-size: 20px;
}
.leftEventLabelFail
{
    color: red;
    font-size: 20px;
}

/* #####################
    DESIGN Registration
##################### */
.registrationTableTop
{
	border-bottom: 1px solid;
}
.registrationTableText
{
	text-align: right;
}
.registrationFormButton
{
    height: 20px;
    width: 70px;
}
.rightEventLabel
{
    color: red;
    font-size: 20px;
}
body 
{
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    background-image:url('server_inst_eyes_open.gif');
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: 380px 140px;
    background-size: 26%;
}