*
{
	margin: 0;
	padding: 0;
}

body
{
	/*background-color: #ECECEC;*/
}

#Wrapper
{
    font-family: Calibri;
	padding-top: 50px;
	margin: auto;
	width: 30%;
}
#Header
{
    padding-top: 20px;
    text-align: center;
	font-size: 30px;
}
#loginContent
{
	padding-top: 60px;
}
    #loginContentLeft
    {
        float: left;
        width: 50%;
        height: 400px;
        border-right: 1px solid;
    }
    #loginContentRight
    {
        float: right;
        width: 46%;
        height: 400px;
    }

#mainContent
{
    padding-top: 60px;
}
    #mainContentUpload
    {
        float: left;
        width: 50%;
        height: 400px;
        border-right: 1px solid;
    }
    #mainContentMyFiles
    {
        float: right;
        width: 46%;
        height: 400px;
    }

#dropzoneUpload
{
    border: 2px dashed;
    margin-top: 25px;
    border-radius: 20px;
    position: relative;
    height: 100px;
    width: 250px;
}
    #dropzoneUpload p
    {
        font-family: Calibri;
        margin-top: 25px;
    }
    #btnUpload
    {
        margin-top: 25px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px 5px;
        font-size: 16px;
    }
/* #####################
		DESIGN
##################### */

.loginTableTop
{
	border-bottom: 1px solid;
}
.loginTableText
{
	text-align: right;
}
.spacingFix
{
    height: 10px;
}
.loginFormButton
{
    height: 20px;
    width: 50px;
}

.leftEventLabelSuccess
{
    color: lightgreen;
    font-size: 20px;
}
.leftEventLabelFail
{
    color: red;
    font-size: 20px;
}

/* #####################
    DESIGN Registration
##################### */
.registrationTableTop
{
	border-bottom: 1px solid;
}
.registrationTableText
{
	text-align: right;
}
.registrationFormButton
{
    height: 20px;
    width: 70px;
}
.rightEventLabel
{
    color: red;
    font-size: 20px;
}